---
import Contact from "../components/Contact.astro";
import Works from "../components/Works.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/HeroSection.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
---

<Layout title="Valentino Arballo Portfolio - Software Developer">
    <main
        
        transition:name="section-contact"
        class=" w-full overflow-auto"
    >
            <Hero />

            <Works />

            <About />
            
            <Contact />

            <Footer />

    </main>
</Layout>
