---
import Contact from "../components/Contact.astro";
import Works from "../components/Works.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/HeroSection.astro";
---

<Layout title="Valentino Arballo Portfolio - Software Developer">
    <main
        
        transition:name="section-contact"
        class="snap-y snap-mandatory w-full h-screen overflow-auto"
    >
        <div class="snap-start">
            <Hero />
        </div>

        <div class="snap-start">
            <Works />
        </div>

        <div class="snap-start">
            <Contact />
        </div>
    </main>
</Layout>
