<div
  class="mx-auto overflow-y-scroll bg-cover bg-scroll bg-bottom bg-no-repeat shadow-lg"
  style="background-image:url('/space2.jpg'); height: 94.5vh;">
  <div class="mt-20 p-4 sm:p-8">
    <div class="font-serif text-2xl text-base italic text-white">
      Majestic peaks, nature's embrace.
    </div>
    <div
      class="mt-1 font-serif text-base text-sm font-medium italic  text-white">
      Adventure calls, conquer mountain trails.
    </div>
    <p class="mt-4 font-serif text-base italic leading-7 text-white">
      In the realm of towering mountains, where the air is crisp and the
      vistas stretch endlessly, one finds solace, exhilaration, and a
      profound connection with the untamed beauty of the natural world.
    </p>
    <p class="mt-4 font-serif text-base italic leading-7 text-white">
      As the sun rises over the rugged peaks, casting a golden glow on
      the majestic landscape, a sense of awe fills the heart, reminding
      us of the grandeur and power that reside in the mountains.
    </p>
    <p class="mt-4 font-serif text-base italic leading-7 text-white">
        As the sun rises over the rugged peaks, casting a golden glow on
        the majestic landscape, a sense of awe fills the heart, reminding
        us of the grandeur and power that reside in the mountains.
      </p>
      <p class="mt-4 font-serif text-base italic leading-7 text-white">
        As the sun rises over the rugged peaks, casting a golden glow on
        the majestic landscape, a sense of awe fills the heart, reminding
        us of the grandeur and power that reside in the mountains.
      </p>
  </div>
</div>