<article class="flex flex-col" id="about" style="height: 100vh; background: url('/fondo2.jpeg') no-repeat left center / cover;">

  <!-- puede estar raro -->
  <section class="lg:w-3/5 lg:ml-6 p-4 2xl:mt-24 xl:mt-15 lg:mt-10 mt-4 md:items-center text-white text-left">
      <h1 class="inline-block text-6xl font-bold">
          About me
      </h1>

      <hr class="my-[10px]">

  </section>

  <section class="xl:w-3/5 lg:ml-6 px-4 flex flex-col 2xl:gap-8 xl:gap-6 lg:gap-5 gap-4 text-start overflow-auto text-white 2xl:text-xl xl:text-lg lg:text-base text-sm">

    <p>
      As a software developer who loves technology and programming, I studied a technical degree in software 
      development to turn my hobby into my profession.
    </p>
    <p>
      This web portfolio shows some of the Python and JavaScript projects I have done. Flask and React were 
      used to make dynamic and functional web pages and APIs. Good programming practices, such as design patterns 
      and clean coding techniques, were also applied to develop quality and maintainable software. 
    </p>
    <p>
      Besides technical skills, communication, teamwork and problem-solving are some of the soft skills 
      I have developed. Collaborating with other developers, learning from them and sharing my 
      knowledge is something I enjoy. 
    </p>
    <p>
      The constant advance of technology and what it can do motivates me. Exploring new tools, 
      languages and paradigms that challenge me and help me create solutions to everyday problems 
      is what I like. 
    </p>
    <p>
      My goal is to keep growing as a software developer, expand my portfolio of projects and 
      contribute to society through technology. 

    </p>
    <p>
      I hope you like my web portfolio and I invite you to contact me if you have any inquiry or proposal.
    </p>
  </section>

</article>
