<div id="hero" class="flex flex-col" style="height: 100vh; background: url('/fondo2.jpeg') no-repeat left center / cover;">

  <!-- puede estar raro -->
  <section class="lg:w-3/5 lg:ml-6 p-4 md:mt-24 mt-6 md:items-center text-white text-left">
      <h1 class="mb-2 md:mb-0 inline-block text-6xl font-bold">
          About me
      </h1>

      <hr class="my-[10px]">

  </section>

  <footer class="lg:w-3/5 lg:ml-6 p-4 md:items-center my-5 flex flex-col 2xl:gap-24 xl:gap-12 lg:gap-6 gap-4">

    <p class="text-white font-semibold xl:text-lg text-base">
      I am a software developer with front-end knowledge, but personally I feel that I stand out more for my problem-solving skills in the back-end.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur possimus temporibus, repellat, nulla neque suscipit quod necessitatibus explicabo nemo nobis fuga voluptate quos magnam beatae tenetur dolor. Consequatur cum id animi ullam, ipsa nobis obcaecati blanditiis quae quod odio deleniti eveniet, corrupti aliquid quia delectus? Eius quod sit deleniti nostrum voluptatum voluptatem dolore adipisci! Aut id corrupti non est. Esse quae provident natus nam. Beatae nihil esse accusamus quibusdam deleniti iste rerum, excepturi ipsam itaque ipsum temporibus libero consequuntur fugit, eligendi est fugiat omnis repudiandae ipsa sint! Fugiat, repudiandae dolorem? Quasi at fuga tempore quod repudiandae sunt quaerat sint quidem?
    </p>
  </footer>

</div>