<article class="flex" id="about" style="height: 100vh; background: url('/assets/images/fondo2.jpeg') no-repeat left center / cover;">
  
  <div class="flex flex-col grow">

    <section class="xl:p-12 lg:p-10 p-4 md:items-center text-white text-left z-10">

        <h1 class="inline-block text-6xl font-bold">
            My Timeline
        </h1>

        <hr class="my-[10px]">

    </section>

    <section class="xl:px-12 lg:px-10 px-4 flex flex-col 2xl:gap-8 xl:gap-6 lg:gap-5 gap-4 text-start overflow-auto text-white 2xl:text-xl xl:text-lg lg:text-base text-sm z-10">

      
      <ol class="relative border-s border-gray-200">      

        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:bg-gray-400"></div>
          <time class="mb-1 text-sm font-medium leading-none text-gray-400">2012</time>
          <h3 class="text-lg font-bold text-white ">Arduino & Robotics Course</h3>
          <p class="mb-4 text-base font-semibold text-gray-200 ">My first approach to programming.</p>
        </li>

        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:bg-gray-400"></div>
          <time class="mb-1 text-sm font-medium leading-none text-gray-400">2014</time>
          <h3 class="text-lg font-bold text-white ">Technologically Inclined High School</h3>
          <p class="mb-4 text-base font-semibold text-gray-200 ">I started to improve my logic and become familiar with computers.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:outline-none focus:ring-orange-500 focus:text-orange-500">
              View certificate 
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
        </li>

        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:bg-gray-400"></div>
          <time class="mb-1 text-sm font-medium leading-none text-gray-400">2016</time>
          <h3 class="text-lg font-bold text-white ">Cambridge English School</h3>
          <p class="mb-4 text-base font-semibold text-gray-200 ">I started attending an english academy that helped me to improve my vocabulary.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:outline-none focus:ring-orange-500 focus:text-orange-500">
              View certificate 
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </a>
        </li>

        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:bg-gray-400"></div>
          <time class="mb-1 text-sm font-medium leading-none text-gray-400">2021 - now</time>
          <h3 class="text-lg font-bold text-white ">Software Development Technicature - iTec</h3>
          <p class="mb-4 text-base font-semibold text-gray-200 ">Started studying a technical degree in software development.</p>
        </li>

        

      </ol>


    </section>

  </div>


  <div class="hidden md:flex m-auto md:grow">
    
    <section class="min-h-[450px] overflow-hidden shadow-lg flex flex-col h-full bg-white">
      <img
        class="w-full"
        src="/assets/images/tesla.png"
        alt="valentino portfolio thumbnail"
        title="portfolio image"
      />
    
      <header class="px-6 py-4 flex-1">
        <h6 translate="no" class="font-bold text-xl mb-2">My CV</h6>
        <p class="text-gray-700 text-base">
          Here you can download my CV for more information.
        </p>
      </header>
    
      <footer class="w-full flex justify-center items-end">
        <a
          target="_blank"
          href="/assets/images/tuxchange.jpg"
          download="Valentino-Arballo-CV"
          class="p-2 m-2 w-full text-center border border-black hover:text-white hover:bg-black"
        >
          Download CV
        </a>
      </footer>
    
    </section>
  </div>

</article>
