<div id="hero" class="flex flex-col" style="height: 100vh; background: url('/fondo2.jpeg') no-repeat left center / cover;">

  <!-- puede estar raro -->
  <section class="lg:w-3/5 lg:ml-6 p-4 md:mt-24 mt-6 md:items-center text-white text-left">
      <h1 class="mb-2 md:mb-0 inline-block text-6xl font-bold">
          About me
      </h1>

      <hr class="my-[10px]">

  </section>

  <footer class="lg:w-3/5 lg:ml-6 p-4 my-5 flex flex-col 2xl:gap-8 xl:gap-6 lg:gap-5 gap-4 text-start">

    <p class="text-white font-semibold xl:text-lg text-base">
      I am a software developer passionate about technology and programming. Since I was a kid I was fascinated by building things with the computer and 3 years ago I decided to turn my hobby into my profession by studying a technical degree in software development.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      In this web portfolio you will see some of the projects I have done using Python and JavaScript, two of the languages I am most proficient in. I have used frameworks like Flask and React to create dynamic and functional web pages and APIs. I have also learned and applied good programming practices, such as design patterns and clean coding techniques, which I consider essential to develop quality and maintainable software.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      In addition to technical skills, I also develop soft skills that allow me to communicate, work in a team and have a better ability to solve problems. I like to collaborate with other developers, learn from them and share my knowledge.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      I am motivated by the constant advance of technology and what it is capable of doing. I like to explore new tools, languages and paradigms that challenge me and help me create solutions to everyday problems.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      My professional goal is to continue growing as a software developer, expand my portfolio of projects and contribute to the development of society through technology.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      I hope you like my web portfolio and I invite you to contact me if you have any inquiry or proposal.
    </p>
  </footer>

</div>
