---
import Cv from "./Cv.astro";
import TimeLine from "./TimeLine.astro";
---

<div class="bg-black">
  <!-- <article class="flex" id="about" style="height: 100vh; background: url('/assets/images/fondo2.jpeg') no-repeat left center / cover;"> -->
    <article class="flex bg-[radial-gradient(circle_at_top,_var(--tw-gradient-stops))] from-orange-500 via-orange-300/10 to-black from-20% to-90%" id="about">


      <div class="flex flex-col grow">
        <section
          class="xl:p-12 lg:p-10 p-4 md:items-center text-white text-left z-10"
        >
          <h1 class="inline-block text-6xl font-bold">My Knowledge</h1>

          <hr class="my-[10px]" />
        </section>

        <section
          class="xl:px-12 lg:px-10 px-4 flex flex-col 2xl:gap-8 xl:gap-6 lg:gap-5 gap-4 text-start overflow-auto text-white 2xl:text-xl xl:text-lg lg:text-base text-sm z-10"
        >
          <TimeLine />
        </section>
      </div>

      <div class="hidden lg:flex m-auto md:grow p-4">
        <Cv />
      </div>
    </article>
  </div>