<div id="hero" class="flex flex-col" style="height: 100vh; background: url('/fondo2.jpeg') no-repeat left center / cover;">

  <!-- puede estar raro -->
  <section class="lg:w-3/5 lg:ml-6 p-4 md:mt-24 mt-6 md:items-center text-white text-left">
      <h1 class="mb-2 md:mb-0 inline-block text-6xl font-bold">
          About me
      </h1>

      <hr class="my-[10px]">

  </section>

  <footer class="lg:w-3/5 lg:ml-6 p-4 md:items-center my-5 flex flex-col 2xl:gap-24 xl:gap-12 lg:gap-6 gap-4">

    <p class="text-white font-semibold xl:text-lg text-base">
      Soy un desarrollador de software apasionado por la tecnología y la programación. Desde que era niño me fascinaba crear cosas con el ordenador y hace 3 años decidí convertir mi hobby en mi profesión estudiando una tecnicatura en desarrollo de software.
    </p>
    <p class="text-white font-semibold xl:text-lg text-base">
      En este portafolio web podrás ver algunos de los proyectos que he realizado usando Python y JavaScript, dos de los lenguajes que más domino. He usado frameworks como Flask y React para crear páginas web y APIs dinámicas y funcionales. También he aprendido y aplicado buenas prácticas de programación, como patrones de diseño y técnicas de código limpio, que considero esenciales para desarrollar software de calidad y fácil de mantener.

Además de las habilidades técnicas, también cuento con habilidades blandas que me permiten comunicarme, trabajar en equipo y tener una mejor capacidad resolutiva. Me gusta colaborar con otros desarrolladores, aprender de ellos y compartir mis conocimientos.

Me motiva el constante avance de la tecnología y de lo que es capaz de hacer. Me gusta explorar nuevas herramientas, lenguajes y paradigmas que me desafíen y me ayuden a crear soluciones a problemas de todos los días.

Mi objetivo profesional es seguir creciendo como desarrollador de software, ampliar mi portfolio de proyectos y contribuir al desarrollo de la sociedad a través de la tecnología.

Espero que te guste mi portafolio web y que te animes a contactarme si tienes alguna consulta o propuesta.

    </p>
  </footer>

</div>
