<section
    class="min-h-[450px] overflow-hidden shadow-lg flex flex-col h-full bg-white"
>
    <img
        class=""
        src="/assets/images/portfolio-blur.jpg"
        alt="valentino portfolio thumbnail"
        title="portfolio image"
    />

    <header class="px-6 py-4 flex-1">
        <h6 translate="no" class="font-bold text-xl mb-2">My CV</h6>
        <p class="text-gray-700 text-base">
            Here you can download my CV for more information.
        </p>
    </header>

    <footer class="w-full flex justify-center items-end">
        <a
            target="_blank"
            href="/assets/extra/Valentino-Arballo-es.pdf"
            download="Valentino-Arballo-CV"
            class="flex p-2 m-2 w-full justify-center gap-4 text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:outline-none focus:ring-orange-500 focus:text-orange-500"
        >
            <img
                class="w-[25px]"
                src="/assets/images/spain.png"
                alt="valentino portfolio thumbnail"
                title="portfolio image"
            />
             Download CV
        </a>

        <a
            target="_blank"
            href="/assets/extra/Valentino-Arballo-en.pdf"
            download="Valentino-Arballo-CV"
            class="flex p-2 m-2 w-full justify-center gap-4 border text-gray-900 bg-white border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:outline-none focus:ring-orange-500 focus:text-orange-500"
        >
            <img
                class="w-[25px]"
                src="/assets/images/united-kingdom.png"
                alt="valentino portfolio thumbnail"
                title="portfolio image"
            />
             Download CV
        </a>
    </footer>
</section>
