<header class="flex font-semibold sticky top-0 bg-white z-50">
    <nav class="my-4 w-full">
        <ul class="flex w-full lg:justify-start justify-evenly">
            <li>
                <a href="#work" class="py-4 lg:mx-8">Projects</a>
            </li>
            <li>
                <a href="#about" class="py-4 lg:mx-8">My Knowledge</a>
            </li>
            <li>
                <a href="#contact" class="py-4 lg:mx-8">Contact</a>
            </li>
        </ul>
    </nav>
</header>
