---
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

        <meta
            name="description"
            content="Valentino Arballo's portfolio, an Argentinian software developer."
        />

        <meta property="og:title" content="Valentino Arballo Portfolio." />
        <meta
            property="og:description"
            content="Valentino Arballo's portfolio, an Argentinian software developer."
        />
        <meta property="og:image" content="/yo.jpg" />
        <meta property="og:image:alt" content="image of Valentino Arballo" />

        <!-- <link rel="alternate" href="" hreflang="es-MX"> -->
        <link
            rel="canonical"
            href="https://dashing-platypus-c0244a.netlify.app/"
        />

        <meta name="theme-color" content="#000000" />
        <meta name="robots" content="index, follow" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <ViewTransitions />
        <style>
            html {
              scroll-behavior: smooth;
            }
          </style>
    </head>

    <body>
        <header class="flex pl-8 py-2 font-semibold sticky top-0 bg-white z-10">
            <nav class="my-2">
                <ul class="flex">
                    <li class="mr-2">
                        <a href="#hero" class="py-4 px-8 border-r-2">Home</a>
                    </li>
                    <li class="mr-2">
                        <a href="#work" class="py-4 px-8 border-r-2">Works</a>
                    </li>
                    <li>
                        <a href="#contact" class="py-4 px-8">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        
        <slot />

    </body>
    <style is:global>

        .TitleMove {
            animation: TitleMove;
            animation-duration: 0.5s;
        }

        .FooterMove {
            animation: FooterMove;
            animation-duration: 0.5s;
        }

        .CardMove {
            animation: reveal linear both;
            animation-timeline: view();
            animation-range: entry 20% cover 30%;
        }
        
        @keyframes TitleMove {
            from {
                transform: translateX(-300px);
                opacity: .7;
            }
            to {
                transform: translateX(0px);
                opacity: 1;
            }
        }

        @keyframes FooterMove {
            from {
                transform: translateX(300px);
                opacity: .7;
            }
            to {
                transform: translateX(0px);
                opacity: 1;
            }
        }
        
        @keyframes reveal {
            from {
                opacity: 0;
                translate: 0 100px;
            }
            to {
                opacity: 1;
                translate: 0 0;
            }
        }

    </style>
    
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
    
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    
</html>
