---
interface Props {
	title: string;
}

const { title } = Astro.props;
---


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Valentino Arballo Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="style.css" rel="stylesheet">
		<title>{title}</title>

</head>


<body class="bg-cover sm:bg-center bg-no-repeat">
    <header class="flex justify-center w-2/3 pt-5 font-semibold">
        <a href="/home" class="backdrop-blur-md py-4 px-8 border-r-2">Home</a>
        <a href="/works" class="backdrop-blur-md py-4 px-8 border-r-2">Works</a>
        <a href="/contact" class="backdrop-blur-md py-4 px-8">Contact Me</a>
    </header>


    <div id="contenido">
    </div>
</body>


</html>